{% extends "base.html" %}
{% block content %}

<body>
    <h2>{{ album.title }}</h2>
    <hr>
    <b>Description</b>
    <p>{{ album.description }}</p>
    <b>Release date</b>
    <p>{{ album.release_date }}</p>
    <hr>
    <b>Cover art</b>
    <p><img src="/media/{{ album.cover }}"></p>

    <hr>
    <input type="button" onclick= "location.href='{%url 'album_edit' album.id %}';" value="Edit album" />
    <input type="button" onclick="location.href='{% url 'tracklist' album.id %}';" value="Tracklist" />
    <hr>

    <b>Comments</b>
    <table>
        {% if comment_list|length == 0 %} 
            <tr><td>There are no comments</td></tr>
        {% else %}
            {% for comment in comment_list %}
                <tr>
                    <td>
                        <b>{{ comment.user }}</b>: {{ comment.text }}<br>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <input type="button" onclick="location.href='{% url 'albums_index' %}';" value="Back" />
</body>

{% endblock content %}