{% extends "base.html" %}
{% block content %}

<body>
    <h2>Add or remove songs</h2>
    <hr>

    <table>
        <tr>
            <th>All songs</th>
        </tr>
        <tr>
            <td>
                {% for current_song in songs_list %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ current_song.obj.title }}
                        <input type="hidden" name="song_choice" value="{{ current_song.obj.title }}">
                        {% if current_song.in_album %}
                            <button type="submit">Remove</button>
                        {% else %}
                            <button type="submit">Add</button>
                        {% endif %}
                    </form>
                {% endfor %}
            </td>
        </tr>
    </table>
</body>

{% endblock content %}