{% extends "base.html" %}
{% block content %}

<body>
    <h2>Add or remove songs</h2>
    <hr>

    <table>
        <tr>
            <th>All songs</th>
        </tr>
        {% for current_song in songs %}
            <tr>
                <td>
                    {% if current_song.in_album %}
                        {{ current_song.obj.title }} is in
                    {% else %}
                        {{ current_song.obj.title }} is not in
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</body>

{% endblock content %}