{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Albums</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="title">Albums List</h1>
        <hr>

        <table class="table is-bordered">
            {% if album_list|length == 0 %}
                <tr><td>There are no albums</td></tr>
            {% else %}
                {% for album in album_list %}
                    <tr>
                        <td>
                            <div class="content">
                                <a href="{% url 'album_detail' album.id %}" class="has-text-dark underline-text">
                                    <strong>{{ album.title }} ({{ album.format }})</strong>
                                    <p>by {{ album.artist }}</p>
                                </a>
                                <img src="/media/{{ album.cover }}" class="image is-10by3 p-2">
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>

        <div class="field">
            <div class="control">
                <button class="button is-primary" onclick="location.href='{% url 'album_create' %}';">Add Album</button>
            </div>
        </div>
    </div>
{% endblock content %}
