{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>{{ album.title }} tracklist</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="title">{{ album.title }} tracklist</h1>
        <hr>

        <div class="content">
            <b>Tracklist</b>
            <table class="table">
                {% if song_list|length == 0 %} 
                    <tr><td>There are no songs in the album</td></tr>
                {% else %}
                    {% for song in song_list %}
                        <tr>
                            <td>
                                <a href="{% url 'song_detail' album.id song.id %}">{{ song.title }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>

        <hr>

        <div class="field">
            <div class="control">
                <button class="button is-link" onclick="location.href='{% url 'album_detail' album.id%}';">Back</button>
            </div>
        </div>
    </div>
{% endblock content %}
