{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>My Music Maestro</title>
    {% endblock title%}
</head>
<body>
    {% block header %}
    <a href='/'>Home</a>
    <a href='/albums/'>Albums</a>
    <a href='/contact/'>Contact</a>
    <a href='/about/'>About</a>
    <a href='/account/'>Account</a>
    {% if user.is_authenticated %}
        Hi {{ user.userprofile.display_name|default:user.username }}!
        <a href="{% url 'logout' %}">Log Out</a>
    {% else %}
        You are not logged in
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    <hr>
    {% endblock header %}

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <script>
                    alert('{{ message }}');
                </script>
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    <hr>
    <p>This is my footer</p>
    {% endblock footer %}
</body>
</html> 