{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    <title>Recommend a friend</title>
{% endblock title%}

{% block content %}
    <h1>Recommend {{ album.title }} to a friend</h1>
    <hr>
    
    <p>{{ trans_msgs.rec_subject }}</p>

    <p>Test Album: {{ album.title }}</p>
    <p>{{ trans_msgs.rec_msg }}</p>
    <p>{{ trans_msgs.rec_msg_user }}</p>

    <input type="button" onclick="location.href='{% url 'album_detail' album.id%}';" value="Back" />
{% endblock content %}