{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    <title>Recommend a friend</title>
{% endblock title%}

{% block content %}
    <h1>Recommend {{ album.title }} to a friend</h1>
    <hr>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send">
    </form>

    <input type="button" onclick="location.href='{% url 'album_detail' album.id%}';" value="Back" />
{% endblock content %}